.DebtsContainer{
    width: 100%;
    height: 100vh;
    margin: 10px;

    background-color: #464775;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
}

.DebtsMessageContainer{
    width: 45%;
    background-color: #8B8CC7;
    border-radius: 10px;
    height: 90vh;
    padding: 10px;
}

.DebtsMessageContainer h1,.DebtAcknowledgeOwner h1{
    font-size: 20px;
    color: gainsboro;
    margin-bottom: 10px;
}

.DebtAcknowledgeOwner h1{
    margin-bottom: 0;
}

.DebtsLists{
    background-color: #464775;
    border-radius: 10px;
    height: 95%;
    box-sizing: border-box;
    padding: 10px;
    list-style: none;
    overflow-y: scroll;
}

.DebtAcknowledgeOwner{
    width: 30%;
    background-color: #8B8CC7;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.DebtOwnerAndGroup{
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 10px 0px;
}

.DeptDialogue{
    padding: 10px;
    color: white;
    background-color: green;
    border: 1px solid white;
    border-radius: 10px;

}

.DeptDialogueContainer{
    width: 100%;
    border: 1px solid white;
    box-sizing: border-box;
    height: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.ligh{
    background-color: #464775;
    border: 1px solid white;
}

.deptAknowledgeInput{
    padding: 10px;
    background-color: #464775;
    border-radius: 10px;
    border: none;
    color: white;
}

.deptAknowledgeInput::placeholder{
    color: white;
}

.deptAknowledgeInput:focus{
    border: none;
    outline: none;
}

.deptInputs{
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.submitAcknowledge{
    padding: 10px;
    background-color: white;
    color: #464775;
    border-radius: 10px;
    text-align: center;
    border: none;
}

.evidenceAttachContainer{
    background-color: #464775;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.evidenceAttachContainer input{
    box-sizing: border-box;
    width: 70%;
}

.deptInputs span{
    font-size: 14px;
    color: gainsboro;
    font-weight: 500;
}