.invitedUserContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    border: 0.1px solid white;
    border-radius: 10px;
    height: 100%;
    padding: 10px 10px;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #6264A7;
    color: white;



}

.invitedUserContainerLogo{
    width: 80px;
    height: 80px;
}

.invitedUserContainerLogProfile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid white;
}

.invitedUserDetails{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.invitedUserDetailsUserName{
    font-size: 20px;
    font-weight: 400;
}

.invitedUserDetailsName{
   font-size: 14px;
   font-weight: 300;
   color: gainsboro;
}



.UserAddToFavButton{
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-weight: 300;
    color: #464775
}

.invitedUserDetailsWrapper{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.UserAddToFavButton:hover{
    background-color: #8B8CC7;
    color: white;
    font-weight: 300;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

