
.expenseGroupDetailContainerLoader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background: linear-gradient(to left, #464775, #8B8CC7);
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    border: 0.1px solid white;
}

.expenseGroupDetailContainerLoaderLogo{
    width: 40px;
    height: 40px;
    border: 1px solid white;
    object-fit: cover;
    border-radius: 50%;
    background-color: gray;
}

.expenseGroupDetailContainerLoaderDetails{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 90%;
}


.ExpenseUserAndDetailsLoader{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 80%;
}

.ExpenseUserAndDetailsLoaderOwner{
    padding: 10px;
    background-color: #8B8CC7;
    border: 1px solid white;
    width: 30%;
    border-radius: 10px;
}

.ExpenseUserAndDetailsLoaderTitle{
   padding: 10px;
   width: 80%;
   background-color: gray;
   border-radius: 10px;
}

.ExpenseSpendAndPaidLoader{
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.spentLoader{
    background-color: rgb(230, 17, 17);
    color: white;
    padding: 3px;
    border-radius: 5px;
    font-size: 12px;
    border: 0.5px solid white;
    font-weight: bold;
    padding: 5px;
    width: 30%;
}

.recived1Loader{
    background-color: green;
    color: white !important;
    padding: 5px;
    width: 30%;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    border: 0.5px solid white;
}


.expenseGroupDetailsLoaderButton{
    width: 10%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}